.blogPostContainer{

    background-color: white;
    border-radius: 10px;
    padding-bottom:10px;
    margin-bottom:10px;
   

    .metaContainer{
        display: inline-flex;
        padding:5px;

        .avatar{
            height:64px;
            width:64px;

        }
        .metaHeaderContainer{
            padding: 13px;

            p{
                margin-top:0px;
                margin-bottom:0px;
            }
            .label{


            }

        }
        
        
    }
   
    .blogPost{
      background-color:@mainThemeWhite;

      .blogPostHeaderContainer{

        .blogPostmedia{
            height: auto;
            width: 100%;
        }

        .blogPostHeader{

        }
      }
      .blogPostText{

      }
    }
  }