@import "../styles/main.less";
.paginationContainer{
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    background-color: white;

    .indexContainer{
        margin:auto;
        .glyphicon-menu-left{
            float: left;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
        }
        .glyphicon-menu-right{
            float:right;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
        }
        .disabled{
            color:red
        }
        .glyphicon-menu-right:hover{
            background-color: #ddd;
        }
        .glyphicon-menu-left:hover{
            background-color: #ddd;
        }

        a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 5px;
        }
        a.active {
            background-color: @mainThemeLightBlue;
            color: white;
            border-radius: 5px;
          }
         a:hover:not(.active) {
             background-color: #ddd;
            }

    }

    

}